<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
	<button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar bar1"></span>
		<span class="icon-bar bar2"></span>
		<span class="icon-bar bar3"></span>
	</button>
	<a href="#">
		<div class="logo-container">
			<div class="logo">
				<img class="logo-icon" src="app/img/landing/H_7.png">
				<img class="logo-name" src="app/img/landing/L3.png">
			</div>
		</div>
	</a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="example">
	<ul class="nav navbar-nav navbar-right">
		<li>
			<span class="login" href="#" style="background-color: none;" data-toggle="modal" data-target=".bd-example-modal-sm">
				LOGIN
				<!--<div>
					<input type="text" placeholder="Username" />
					<input type="password" placeholder="Password" />
					<button class="btn btn-neutral btn-block">Submit</button>
					<a href="#">Forgot password?</a>
				</div>-->
			</span>
		</li>
		<li class="tilde-filler"><span style="padding-left: 15px; padding-right: 15px;">|</span></li>
		<li>
			<span class="login" ui-sref="registerApp" style="background-color: none;" data-toggle="modal" data-target="#modalRegister">REGISTER</span>
		</li>
	</ul>
</div>
<!-- /.navbar-collapse -->

