<!--modal REGISTRATION-->
<div class="modal fade" id="modalRegister" role="dialog" ng-controller="registerAppController as registerAppCtrl">
	<div class="modal-dialog modal-md">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				
				<h5 class="modal-title modalRegister"><i class="fa fa-pencil" aria-hidden="true" style="color:#36657c;"></i>&nbsp;Please fill in the below details to Register with Us</h5>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-3 register-part01 active-underline" style="padding-left: 0px; padding-right: 0px; width: 120px;">
						<div class=" col-md-6 num-part" style="width:45px;">
						01
					</div>
						<div class="col-md-6 text-part">
							Customer Details
						</div>

					</div>
					<div class="col-md-1">
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
					</div>
					<div class="col-md-3 register-part02" style="padding-left: 0px; padding-right: 0px; width: 114px;">
						<div class="col-md-6 num-part">
							02
						</div>
						<div class="col-md-6 text-part">
							App Details
						</div>
					</div>
					<div class="col-md-1">
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
					</div>
					<div class="col-md-3 register-part03" style="padding-left: 0px; padding-right: 0px; width: 152px;">
						<div class="col-md-6 num-part" style="width: 55px;">
							03
						</div>
						<div class="col-md-6 text-part" style="line-height: 40px;">
							Confirmation
						</div>
					</div>
				</div>
				
				<div class="tab-content" style="padding-top: 20px;">
					<div class="tab-pane fade in active" id="tab1">
						<form name="customerDetailsForm" class="row">
							<div class="col-md-5">
								<input type="text" name="userFirstName" 
								ng-model="registerAppCtrl.registerAppDetails.user.fn"
								id="reg-fname" 
								class="form-control" tabindex="1" placeholder="First Name" required/>
								<div class="error-help">
									<p ng-show="customerDetailsForm.userFirstName.$invalid && !customerDetailsForm.userFirstName.$pristine">First name is required</p>
								</div>
								
								<input type="email" name="userEmailId" ng-model="registerAppCtrl.registerAppDetails.user.email" id="reg-email" class="form-control" tabindex="3" placeholder="E-mail ID" required/>
								<div class="error-help">
									<p ng-show="customerDetailsForm.userEmailId.$error.required && !customerDetailsForm.userEmailId.$pristine">Email ID is required</p>
									<p ng-show="customerDetailsForm.userEmailId.$dirty && customerDetailsForm.userEmailId.$error.email" ng-hide="customerDetailsForm.userEmailId.$pristine">Email ID is invalid</p>
								</div>
								
								<input type="text" name="userName" ng-model="registerAppCtrl.registerAppDetails.user.uname" id="reg-uname" class="form-control" tabindex="5" placeholder="User Name" ng-keyup="registerAppCtrl.validateUname(registerAppCtrl.registerAppDetails.user.uname)" required/>
								<div class="error-help">
									<p ng-show="customerDetailsForm.userName.$invalid && !customerDetailsForm.userName.$pristine">User name is required</p>
									<p id="uname-check" style="display: none;"><i class="fa"></i><i id="avail-message"></i></p>
								</div>

							</div>
							<div class="col-md-5 col-md-offset-1">
								<input type="text" name="userLastName" ng-model="registerAppCtrl.registerAppDetails.user.ln" id="reg-lname" class="form-control" tabindex="2" placeholder="Last Name" required/>
								<div class="error-help">
									<p ng-show="customerDetailsForm.userLastName.$invalid && !customerDetailsForm.userLastName.$pristine">Last name is required</p>
								</div> 
								
								<input type="number" name="userPhoneNo" ng-model="registerAppCtrl.registerAppDetails.user.phone" id="reg-phone" class="form-control" tabindex="4" placeholder="Phone" required/>
								<div class="error-help">
									<p ng-show="customerDetailsForm.userPhoneNo.$invalid && !customerDetailsForm.userPhoneNo.$pristine">Phone number is required</p>
								</div> 
								
								<input type="password" name="userPassword" ng-model="registerAppCtrl.registerAppDetails.user.pass" id="reg-pwd" class="form-control" tabindex="6" placeholder="Password" required/>
								<div class="error-help">
									<p ng-show="customerDetailsForm.userPassword.$invalid && !customerDetailsForm.userPassword.$pristine">Password is required</p>
								</div>
							</div>
							<div class="col-md-12">
								<button class="btn btn-proceed1"  ng-disabled="customerDetailsForm.$invalid" ng-click="registerAppCtrl.fadeProceed('tab1', 'tab2');">Proceed</button>
							</div>	
						</form>
					</div>
					<div class="tab-pane fade" id="tab2">
						<form name="appDetailsForm" class="row">
							<div class="col-md-6">
								<div class="col-md-12" style="padding:0px;">
									<div class="col-md-11">
										<input type="text" ng-model="registerAppCtrl.registerAppDetails.app.name" name="appName" id="reg-appname" class="form-control" tabindex="1" placeholder="App Name" required/>
										<div class="error-help">
											<p ng-show="appDetailsForm.appName.$invalid && !appDetailsForm.appName.$pristine">App name is required</p>
										</div>
									</div>
									<div class="col-md-1"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
								</div>
								
								<div class="col-md-12" style="padding:0px;">
									<div class="col-md-11">
										<input type="text" ng-model="registerAppCtrl.registerAppDetails.app.desc" name="appDescription"
										id="reg-appdesc" class="form-control" tabindex="2" placeholder="App Description" required/>
										<div class="error-help">
											<p ng-show="appDetailsForm.appDescription.$invalid && !appDetailsForm.appDescription.$pristine">App description is required</p>
										</div>
									</div>
									<div class="col-md-1"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
								</div>
								
								<div class="col-md-12" style="padding:0px;">
									<div class="col-md-11">
										<div class="input-group">
											<input type="text" ng-model="registerAppCtrl.registerAppDetails.app.to" name="appTimeOut" id="ref-timeout" tabindex="3" class="form-control" placeholder="App Timeout" required/>
											<div class="input-group-btn">
												<button type="button" class="btn btn-default"><i class="fa fa-clock-o"></i></button>
											</div>
										</div>
										<div class="error-help">
											<p ng-show="appDetailsForm.appTimeOut.$invalid && !appDetailsForm.appTimeOut.$pristine">App time out is required</p>
										</div>
									</div>
									<div class="col-md-1"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
								</div>
							</div>
							<!-- <div class="col-md-1 hidden-xs">
								<i class="fa fa-info-circle" aria-hidden="true"></i>
								<i class="fa fa-info-circle" aria-hidden="true"></i>
								<i class="fa fa-info-circle" aria-hidden="true"></i>
							</div> -->
							<div class="col-md-5">
								<div class="col-md-12" style="padding:0px;">
									<div class="col-md-11">
										<div class="input-group">
											<input type="text" ng-model="registerAppCtrl.registerAppDetails.app.ctg" name="appCategory" id="reg-appcat" tabindex="4" class="form-control" placeholder="App Category" required>
											<div class="input-group-btn">
												<button type="button" class="btn btn-default"><i class="caret"></i></button>
											</div>
										</div>
										<div class="error-help">
											<p ng-show="appDetailsForm.appCategory.$invalid && !appDetailsForm.appCategory.$pristine">App category is required</p>
										</div>
									</div>
									<div class="col-md-1"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
								</div>
								
								<div class="col-md-12" style="padding:0px;">
									<div class="col-md-11">
										<div class="input-group">
											<input type="text" ng-model="registerAppCtrl.registerAppDetails.app.icon" name="appImage" class="form-control" id="reg-appicon" readonly/>
											<label class="input-group-btn">
												<span class="btn btn-default">
													<i class="fa fa-upload"></i>
													<input type='file' onchange="angular.element(this).scope().imageUpload(event)" style="display:none;"/>
													 <!-- <input type="file"  ng-model="appImage" accept="image/*" value="" ng-change="imageUpload(event)" style="border:solid 1px;" multiple> -->
												</span>
											</label>
										</div>
										<div class="error-help">
											<p ng-show="">Please add image!</p>
										</div>
									</div>
									<div class="col-md-1"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
								</div>
								<div class="col-md-12" style="padding:0px;">
									<div class="col-md-11">
										<div class="input-group">
											<select class="form-control timezone-select"  ng-model="registerAppCtrl.registerAppDetails.app.tz" name="timeZone" style="border-radius: 4px;"
											required>
												<option ng-repeat="timeZone in timeZones">{{timeZone}}</option>
											</select>
										</div>
									</div>
									<div class="col-md-1"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
								</div>
							</div>
							<!-- <div class="col-md-1 hidden-xs">
								<i class="fa fa-info-circle" aria-hidden="true"></i>
								<i class="fa fa-info-circle" aria-hidden="true"></i>
								<i class="fa fa-info-circle" aria-hidden="true"></i>
							</div> -->
							<div class="col-md-12">
								<button class="btn btn-back" ng-click="registerAppCtrl.fadeBack('tab2', 'tab1');">Back</button>
								<button class="btn btn-proceed2" ng-disabled="appDetailsForm.$invalid" ng-click="registerAppCtrl.fadeProceed('tab2', 'tab3');">Proceed</button>
							</div>
						</form>   
					</div>
					<div class="tab-pane fade" id="tab3">
						<form name="summaryForm" class="row">
							<div class="col-md-2 hidden-xs">
								<img id="appicon-img" style="height: 60px; width: 60px;"/>
							</div>
							<div class="col-md-5">
								<p><span class="tab3-boldtext">App Name:</span>&nbsp;&nbsp;<span class="tab3-regtext1">					{{registerAppCtrl.registerAppDetails.app.name}}
								</span></p>
								<p><span class="tab3-boldtext">Description:</span>&nbsp;&nbsp;<span class="tab3-regtext2">
								{{registerAppCtrl.registerAppDetails.app.desc}}
								</span></p>
							</div>
							<div class="col-md-5">
								<p><span class="tab3-boldtext">App Category:</span>&nbsp;&nbsp;<span class="tab3-regtext3">
								{{registerAppCtrl.registerAppDetails.app.ctg}}
								</span></p>
								<p><span class="tab3-boldtext">App Time Zone:</span>&nbsp;&nbsp;<span class="tab3-regtext4">
								{{registerAppCtrl.registerAppDetails.app.tz}}
								</span></p>
								<p><span class="tab3-boldtext">App Timeout:</span>&nbsp;&nbsp;<span class="tab3-regtext5">
								{{registerAppCtrl.registerAppDetails.app.to}}
								</span></p>
							</div>
							<div class="col-md-12">
								<button class="btn btn-back" ng-click="registerAppCtrl.fadeBack('tab3', 'tab2');">Back</button>
								<button class="btn btn-confirm" ng-click="registerAppCtrl.registerUser(registerAppCtrl.registerAppDetails);">Confirm</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>